.sidebar {
    position: sticky;
    color: $main-color;
    background-color: $background-color;
    overflow-x: hidden;
    padding: 0.4em;
    padding-top: 1.4em;
    margin-right: 0.4em;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    color: $link-color;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}

.sidebar li a:hover {
    background-color: $background-color-hover;
}