/* Colors */
$main-color: #1B263B !default;
$background-color: #778Da9 !default;
$background-color-active: #415A77 !default;
$background-color-hover: #415A77 !default;
$border-color: #1B263B !default;

/* Links */
$link-color: #0D1B2A !default;
$link-color-hover: #E0E1DD !default;
$link-color-visited: $link-color !default;

/* Fonts */
$global-font-family: 'Arial', sans-serif !default;

/* Other */

