/* Colors */
$main-color: #000000 !default;
$background-color: #0d3cbd !default;
$background-color-active: #00ff80 !default;
$background-color-hover: #d6f8e7 !default;
$border-color: #000000 !default;

/* Links */
$link-color: #00fff2 !default;
$link-color-hover: #977aff !default;
$link-color-visited: $link-color !default;

/* Fonts */
$global-font-family: 'Arial', sans-serif !default;

/* Other */

